@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

*{
    background-color: #1A1A1A;
    font-family: 'IBM Plex Mono', monospace;
    color: whitesmoke;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h3 {
    margin-top: 2em;
}


footer{
    margin-bottom: 80px;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    padding: 20px;
    width: 40%;
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.gumroad-follow-form-embed {
    margin-top: 100px;
    zoom: 1.2;
    width: 30%
}

.gumroad-follow-form-embed:before,
.gumroad-follow-form-embed:after {
    display: table;
    line-height: 0;
    content: "";
}

.gumroad-follow-form-embed:after {
    clear: both;
}

.gumroad-follow-form-embed * {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box !important;
    float: left !important;
}

.gumroad-follow-form-embed input {
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-right: 0;
    color: #aaa;
    padding: 10px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
    background-position: top right;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: caret;
    width: 65% !important;
    height: 40px !important;
}

.formBtn {
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
    display: inline-block;
    padding: 11px 15px 12px;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    line-height: 100%;
    font-family: 'IBM Plex Mono', monospace;
    background: #000000;
    border: 1px solid #000000;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#262626, endColorstr=#000000, GradientType=0)";
    background: -webkit-linear-gradient(#262626, #000000);
    background: linear-gradient(to bottom, #6b6b6b, #838383);
    height: 40px !important;
    width: 35% !important;
}

.formBtn:hover {
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .8s ease-in-out;
    transition: all .5s ease-in-out;
    display: inline-block;
    padding: 11px 15px 12px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
    font-family: 'IBM Plex Mono', monospace;
    background: #c53c3c;
    border: 1px solid #000000;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#262626, endColorstr=#000000, GradientType=0)";
    background: -webkit-linear-gradient(#632727, #b43e3e);
    background: linear-gradient(to bottom, #000000, #161616);
    height: 40px !important;
    width: 35% !important;
}